<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>異世界ダンジョンからの脱出 │ Project N</title>
  <link rel="stylesheet" href="assets/css/normalize.css">
  <link rel="stylesheet" href="assets/css/style.css">
</head>
<body>
  <svg width="0" height="0" class="hidden">
    <symbol xmlns="http://www.w3.org/2000/svg" viewBox="0 0 12.47 24.94" id="arrow" class="arrow_svg">
      <title>arrow</title>
      <polygon points="0 24.94 0 19.66 7.35 12.47 0 5.92 0 0 12.47 12.47 0 24.94"/>
    </symbol>
  </svg>
  <header class="header">
    <div class="container">
      <div class="header__logo"><img src="assets/images/logo.svg" alt="チームロゴ"></div>
      <div class="header__name">N・S高生制作サイト</div>
    </div>
  </header>
  <main class="main main-page">
    <!-- タイトルエリア　ここから -->
    <h1 class="main-title"><img src="assets/images/main-image.png" alt="異世界ダンジョンからの脱出"></h1>
    <!-- タイトルエリア　ここまで -->
    <div id="stage">

      <!-- STAGE1　ここから -->
      <div id="sectionStage1" class="stage">

        <!-- STAGE1問題セクション　ここから -->
        <section class="section">
          <div class="container">
            <h2 class="section-title section-title--keycolor"><span class="section-title__stage">第一関門</span>千里の道も一歩から</h2>
            <p class="text-center">ダンジョンの奥へと続くであろう扉が目の前にある。しかし、キーワードを唱えないと鍵が開かないようだ。<br>
              下の画像の謎を解き、解答欄に入力しよう。</p>
            <p class="text-center">困ったときは、助けてもらおう。でもなるべく自力で頑張れ！</p>
  
            <div class="container">
              <figure class="image__container">
                <img src="assets/images/stage1.2.png" alt="">
              </figure>
                
 <!--  YouTube貼り付け
              <div class="youtube__container">
                <div class="youtube">
                  <iframe width="560" height="315" src="https://www.youtube.com/embed/IRyJe-0Uie0?controls=0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
              </div>
Youtube貼り付けここまで -->
                
            </div>
          </div>
        </section>
        <!-- STAGE1問題セクション　ここまで -->

        <!-- STAGE1解答入力セクション　ここから -->
        <section class="section bg-color--keycolor">
          <div class="container">
            <h2 class="section-title"><span class="section-title__stage">第一関門</span>解答を入力　※ひらがなに変換</h2>
            
            <answer-input v-bind:correct="correctAnswer['stage1']['q1']" v-on:answer-input="answerInput($event, 'stage1', 1)"></answer-input>

            <a class="link-hint" href="hint1.html" target="hint1">助けを借りる ></a>
          </div>
        </section>
        <!-- STAGE1解答入力セクション　ここまで -->

        <!-- STAGE1クリア画面　ここから -->
        
        <section v-if="clear['stage1']" v-bind:class="{isClear:clear['stage1']}"  class="section section--clear bg-color--gray">
          <div class="container">
            <div class="clear-message">
              <div class="clear-message__title">第一関門  突破！</div>
              <div class="clear-message__content">扉の鍵が開いた！<br>
                さぁ、お宝を見つけるためにさらに奥に進もう。<br>
              </div>
              <button v-on:click="nextStage('stage1')" onclick="location.href='#sectionStage2'" class="clear-message__btn btn">次へ進む<svg class="btn__arrow"><use xlink:href="#arrow"></use></svg></button>
            </div>
          </div>
        </section>
        <!-- STAGE1クリア画面　ここまで -->

      </div>
      <!-- STAGE1　ここまで -->
      
      <!-- STAGE2　ここから -->
        <div v-if="next['stage1']" id="sectionStage2" class="stage">
        <section>
          <div class="section">
            <div class="container">
              <h2 class="section-title section-title--keycolor"><span class="section-title__stage">第二関門</span>美しい花には棘がある</h2>
              <p class="text-center">ダンジョン奥へと進む一行だったが、そこに突如として現れた鍾乳洞。<br>
                あまりに美しさに気を取られ、鍾乳洞の天井が下がってきていることに気づくのが遅れてしまった！<br>
                石板に書かれた暗号の答えを解答欄に記入し、天井の動きを止めよう。</p>

        
            <!-- STAGE2 問題セクション　ここから -->
            
            <div class="container">
              <figure class="image__container">
                <img src="assets/images/stage2.3.png" alt="">
              </figure>
                
 <!--  YouTube貼り付け
              <div class="youtube__container">
                <div class="youtube">
                  <iframe width="560" height="315" src="https://www.youtube.com/embed/IRyJe-0Uie0?controls=0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
              </div>
Youtube貼り付けここまで -->
                
            </div>
          </div>
        </section>
        <!-- STAGE2問題セクション　ここまで -->

        <!-- STAGE2解答入力セクション　ここから -->
        <section class="section bg-color--keycolor">
          <div class="container">
            <h2 class="section-title"><span class="section-title__stage">第二関門</span>解答を入力　※ひらがなに変換</h2>
            
            <answer-input v-bind:correct="correctAnswer['stage2']['q1']" v-on:answer-input="answerInput($event, 'stage2', 1)"></answer-input>

            <a class="link-hint" href="hint2.html" target="hint2">助けを借りる ></a>
          </div>
        </section>
        <!-- STAGE2解答入力セクション　ここまで -->

        <!-- STAGE2クリア画面　ここから -->
        
        <section v-if="clear['stage2']" v-bind:class="{isClear:clear['stage2']}"  class="section section--clear bg-color--gray">
          <div class="container">
            <div class="clear-message">
              <div class="clear-message__title">第二関門  突破！</div>
              <div class="clear-message__content">天井が止まった！<br>
                さぁ、少し鍾乳洞を楽しんだまた又奥へと進もう。<br>
                だいぶ奥まできている気がするから、そろそろお宝が見つかるかもしれない。</div>
              <button v-on:click="nextStage('stage2')" onclick="location.href='#sectionStage3'" class="clear-message__btn btn">次へ進む<svg class="btn__arrow"><use xlink:href="#arrow"></use></svg></button>
            </div>
          </div>
        </section>
        <!-- STAGE2クリア画面　ここまで -->

      </div>
      <!-- STAGE2　ここまで -->
        
      <!-- STAGE3　ここから -->
        <div v-if="next['stage2']" id="sectionStage3" class="stage">
        <section>
          <div class="section">
            <div class="container">
              <h2 class="section-title section-title--keycolor"><span class="section-title__stage">第三関門</span>急がば回れ</h2>
              <p class="text-center">お宝発見！！だが、一面溶岩がありお宝のあるところまで進めない。<br>
                よく見ると溶岩の水位が少しずつ上昇している。早くお宝を手に入れて脱出しなければ！<br>
                床に記された暗号をとき、お宝まで道を作っていこう。</p>

        
            <!-- STAGE3 問題セクション　ここから -->
            
            <div class="container">
              <figure class="image__container">
                <img src="assets/images/stage3.2.png" alt="">
              </figure>
                
 <!--  YouTube貼り付け
              <div class="youtube__container">
                <div class="youtube">
                  <iframe width="560" height="315" src="https://www.youtube.com/embed/IRyJe-0Uie0?controls=0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
              </div>
Youtube貼り付けここまで -->
                
            </div>
          </div>
        </section>
        <!-- STAGE3問題セクション　ここまで -->

        <!-- STAGE3解答入力セクション　ここから -->
        <section class="section bg-color--keycolor">
          <div class="container">
            <h2 class="section-title"><span class="section-title__stage">第三関門</span>解答を入力　※ひらがなに変換</h2>
            
            <answer-input v-bind:correct="correctAnswer['stage3']['q1']" v-on:answer-input="answerInput($event, 'stage3', 1)"></answer-input>

            <a class="link-hint" href="hint3.html" target="hint3">助けを借りる ></a>
          </div>
        </section>
        <!-- STAGE3解答入力セクション　ここまで -->

        <!-- STAGE3クリア画面　ここから -->
        
        <section v-if="clear['stage3']" v-bind:class="{isClear:clear['stage3']}"  class="section section--clear bg-color--gray">
          <div class="container">
            <div class="clear-message">
              <div class="clear-message__title">第三関門  突破！</div>
              <div class="clear-message__content">無事お宝を手に入れることができた！あとは、戻るだけ。<br>
                そうやって喜んでいた矢先「ガチャン！！」大きな音とともにダンジョンが地響きを立て崩れ始めた！<br>
                まずい！！急いで引き返そうとするメンバーだったが、来た道はすでに塞がれていた...進むしかない！</div>
              <button v-on:click="nextStage('stage3')" onclick="location.href='#sectionStage4'" class="clear-message__btn btn">次へ進む<svg class="btn__arrow"><use xlink:href="#arrow"></use></svg></button>
            </div>
          </div>
        </section>
        <!-- STAGE3クリア画面　ここまで -->

      </div>
      <!-- STAGE3　ここまで -->
                  
      <!-- STAGE4　ここから -->
        <div v-if="next['stage3']" id="sectionStage4" class="stage">
        <section>
          <div class="section">
            <div class="container">
              <h2 class="section-title section-title--keycolor"><span class="section-title__stage">第四関門</span>慌てる蟹は穴に入れぬ</h2>
              <p class="text-center">激しい揺れのなか出口を目指す一行だったが、<br>
                突如現れた石の壁によって行手を阻まれる。崩壊が始まってるのになぜ機能するんだ..<br>
                迷ってる暇はない！壁に書かれた文字を解き明かし、道を開けよう！</p>

        
            <!-- STAGE4 問題セクション　ここから -->
            
            <div class="container">
              <figure class="image__container">
                <img src="assets/images/stage4.2.png" alt="">
              </figure>
                
 <!--  YouTube貼り付け
              <div class="youtube__container">
                <div class="youtube">
                  <iframe width="560" height="315" src="https://www.youtube.com/embed/IRyJe-0Uie0?controls=0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
              </div>
Youtube貼り付けここまで -->
                
            </div>
          </div>
        </section>
        <!-- STAGE4問題セクション　ここまで -->

        <!-- STAGE4解答入力セクション　ここから -->
        <section class="section bg-color--keycolor">
          <div class="container">
            <h2 class="section-title"><span class="section-title__stage">第四関門</span>解答を入力　※ひらがなに変換</h2>
            
            <answer-input v-bind:correct="correctAnswer['stage4']['q1']" v-on:answer-input="answerInput($event, 'stage4', 1)"></answer-input>

            <a class="link-hint" href="hint4.html" target="hint4">助けを借りる ></a>
          </div>
        </section>
        <!-- STAGE4解答入力セクション　ここまで -->

        <!-- STAGE4クリア画面　ここから -->
        
        <section v-if="clear['stage4']" v-bind:class="{isClear:clear['stage4']}"  class="section section--clear bg-color--gray">
          <div class="container">
            <div class="clear-message">
              <div class="clear-message__title">第四関門  突破！</div>
              <div class="clear-message__content">壁が壊れた！<br>
                早くしなければ間に合わない！！<br>
                だいぶ上層まできている気がする。でも油断せずに急ごう！</div>
              <button v-on:click="nextStage('stage4')" onclick="location.href='#sectionStage5'" class="clear-message__btn btn">次へ進む<svg class="btn__arrow"><use xlink:href="#arrow"></use></svg></button>
            </div>
          </div>
        </section>
        <!-- STAGE4クリア画面　ここまで -->

      </div>
      <!-- STAGE4　ここまで -->
          
      <!-- STAGE5　ここから -->
      <div v-if="next['stage4']" id="sectionStage5" class="stage">

        <!-- STAGE5問題セクション　ここから -->
        <section class="section">
          <div class="container">
            <h2 class="section-title section-title--keycolor"><span class="section-title__stage">最終関門</span>精神一到何事か成らざらん</h2>
            <p class="text-center">画像未完成です。近日公開なので乞うご期待！<br>
              解答は「ユウヤミ」です。</p>
            <figure class="image__container">
              <img src="assets/images/stage5sub.png" alt="">
            </figure>
          </div>
        </section>
        <!-- STAGE5問題セクション　ここまで -->

        <!-- STAGE5解答入力セクションここから -->
        <section class="section bg-color--keycolor">
          <div class="container">
            <h2 class="section-title"><span class="section-title__stage">最終関門</span>解答を入力　※ひらがなに変換</h2>
            
            <answer-input v-bind:correct="correctAnswer['stage5']['q1']" v-on:answer-input="answerInput($event, 'stage5', 1, 'final')"></answer-input>
            <a class="link-hint" href="hint5.html" target="hint5">助けを借りる ></a>
          </div>
        </section>
        <!-- STAGE5解答入力セクション　ここまで -->
          
      </div>
      <!-- STAGE5　ここまで -->
      
    </div>
  </main>
  <footer class="footer section bg-color--gray">
    <div class="container">
        <p class="text-center">授業主催： N・S高<br>協力：株式会社SCRAP<br>企画制作：N・S高生</p>
        <p class="text-center">「リアル脱出ゲーム」は株式会社SCRAPの登録商標です。</p>
        <p class="text-center">株式会社SCRAPとN・S高で実施した授業「リアル脱出ゲームの作り方」の一環で<br>生徒が制作したものであり、SCRAPが主催/公認するものではありません。</p>
    </div>
  </footer>
  <script src="https://unpkg.com/vue@next"></script>
  <script src="assets/js/main.js"></script>
</body>
</html>
